body {
    margin: 0;
    text-align: center;
    background-color: #1B244A;
}
.heading{
    color: white;
    font-size: x-large;
}

.home{
    color: white;
    font-size: x-large;
}

.guest{
    color: white;
    font-size: x-large;  
}

.score {
    background: #0a0001;
    font-size: 90px;
    color: #F94F6D;
    width: 120px;
    margin: 20px;
}

.container {
    display: flex;
    justify-content: space-around;
}

button {
    background: none;
    color: white;
}